// Imports

@import "variables";
@import "mixins";


// this projects files
@import "base";
@import "typography";
@import "home";
@import "content";
@import "cta";
@import "header";
@import "footer";
@import "image-gallery";
@import "testimonials";
@import "contact-form";
@import "misc";

@import 'simplelightbox';

.btn-primary{
    background: $brand-color-secondary;

    &:hover{
        background: darken($brand-color-secondary, 5%);
    }

    &:focus{
        background: darken($brand-color-secondary, 10%);
    }
}