---
layout: page
title: Thank You!
permalink: /thankyou/
headerTitle: Thank You!
headerSubCopy:
headerImage: city/7360147154_9832acfc5e_h.jpg
pageContent: Thank you for your message.
---

{% include global-header.html %}


<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><span class="text-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>
            {{ page.pageContent }}
          </span></h1>
      </div>
      <div class="col-sm-6">
        <!-- <h3>You might want to checkout:</h3>
      <a href="/gallery" class="btn btn-default">Our Photo Gallery</a> - or -
      <a href="/#service" class="btn btn-default">Services We Offer</a> -->
      </div>
    </div>
  </div>
</section>

{% include call-to-action.html %}