---
layout: page
title: Photo Gallery
permalink: /gallery/
img: /uploads/gallery/5.jpg
headerSubCopy:
---

{% include global-header.html %}

<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="image-gallery">
            {% for image in site.static_files %}
            {% if image.path contains 'uploads/gallery' %}
            <div class="image-gallery-item">
              <a href="{{ image.path }}">
                <img src="{{ image.path }}" alt="image" />
                <div class="overly">
                  <div class="position-center">
                    <h2>Click To View</h2>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include call-to-action.html %}