---
layout: page
title: Idyllic Residentials
permalink: /idyllic-retreats/
headerTitle: Idyllic Residentials
headerSubCopy:
---

{% include global-header.html %}


<div class="container">
  <p>
    Along with local partners, I am planning lovely retreats and residentials in United Kingdom, India, Nepal and Laos:
  </p>

  {% for retreat in site.retreats %}
  <div class="post-area">
    <a href="{{ retreat.url | prepend: site.baseurl }}" class="bold">{{ retreat.title }}</a>
    <p class="post-date">{{ retreat.date | date_to_long_string }}</p>
    <p>
      {{ retreat.content | strip_html | truncatewords: 50 }}
    </p>
  </div>
  {% endfor %}
</div>