<!-- Call to action Start -->
<section id="call-to-action" style="background-image: url(/uploads/newsletter.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Newsletter</h2>
          <h3>Be the first to hear the latest news from the Nomadic Ashram.</h3>
          <p>
            Because my work changes with the seasons I invite you to sign up to a newsletter that keeps you informed of
            the latest Nomadic Ashram happenings and offers including early bird reductions, priority access and more…
          </p>

          <form action="http://mailchimp.us15.list-manage.com/subscribe/post" method="POST" target="_blank">

            <input type="hidden" name="u" value="681398604d8d3356bfad08c94">
            <input type="hidden" name="id" value="11381f8e20">
            <input type="hidden" name="ht" value="7d74927662e43356c4a2b74ab148e00272eb04be:MTUwNzg5NjgwNC4yODYz">
            <input type="hidden" name="mc_signupsource" value="hosted">

            <input class="form-control input-lg" name="MERGE0" type="email" placeholder="Email address" required="required">

            <button class="btn btn-default btn-call-to-action" type="submit">Subscribe</button>


          </form>

        </div>
      </div>
    </div>
  </div>
</section>