<!-- Call to action Start -->
<section id="call-to-action" style="background-image: url(/uploads/newsletter.jpg); background-image: url(/uploads/newsletter.webp)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ site.data.global.newsletter-title }}</h2>
          <h3>{{ site.data.global.newsletter-subtitle }}</h3>
          <p>
            {{ site.data.global.newsletter-content }}
          </p>

          <form action="https://mailchimp.us15.list-manage.com/subscribe/post" method="POST" target="_blank">

            <input type="hidden" name="u" value="681398604d8d3356bfad08c94">
            <input type="hidden" name="id" value="11381f8e20">
            <input type="hidden" name="ht" value="7d74927662e43356c4a2b74ab148e00272eb04be:MTUwNzg5NjgwNC4yODYz">
            <input type="hidden" name="mc_signupsource" value="hosted">

            <label for="email">Email Address:</label>
            <input class="form-control input-lg" name="MERGE0" id="email" type="email" placeholder="Email address"
              required="required">

            <button class="btn btn-default btn-call-to-action" type="submit">Subscribe</button>


          </form>

        </div>
      </div>
    </div>
  </div>
</section>