<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <hr />
        <h2>{{ site.data.global.accreditations-title }}</h2>
        <p>
          {{ site.data.global.accreditations-content }}
        </p>
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {% for accreditation in site.data.accreditations.accreditations %}
            <div class="clients-logo-img">
              <a href="{{ accreditation.link }}" title="{{ accreditation.name }}" target="blank">
                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ accreditation.img }}"
                  class="img-responsive" alt="{{ accreditation.name }}" />
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>

            {% for item in site.data.menu.menu %}
            <li><a href="{{item.url}}">{{item.text}}</a></li>
            {% endfor %}

          </ul>
        </div>

        <p>T: <a href="tel:{{site.data.business.phone_primay}}">
            <strong>{{site.data.business.phone_primay}}</strong>
          </a>
          E: <a href="mailto:{{site.data.business.email_primary}}">
            <strong>{{site.data.business.email_primary}}</strong></a></p>

        <ul class="list-inline">
          {% for item in site.data.social_media.platform %}
          <li>
            <a href="{{item.link}}" target="blank" title="{{item.name}}"><i class="fa {{item.icon}}"></i></a>
          </li>
          {% endfor %}
        </ul>

        <p class="pull-right">Website by <a title="The Pixel Forge" href="http://thepixelforge.co.uk" target="_blank"
            rel="noopener"><strong>The
              Pixel Forge</strong></a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  function init() {
    var imgDefer = document.getElementsByTagName('img');
    for (var i = 0; i < imgDefer.length; i++) {
      if (imgDefer[i].getAttribute('data-src')) {
        imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
      }
    }
  }
  window.onload = init;
</script>