<!-- Header Start -->
<header class="navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/index.html" title="{{ site.title }}">
                <picture>
                  <source srcset="/uploads/logo.webp" type="image/webp">
                  <source srcset="/uploads/logo.png" type="image/jpeg">
                  <img src="/uploads/logo.png" alt="{{ site.title }} Icon" onerror="alert('a');">
                </picture>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

                {% for item in site.data.menu.menu %}
                {% if page.permalink == item.url %}
                <li class="active"><a href="{{item.url}}" class="active">{{item.text}}</a></li>
                {% else %}
                <li><a href="{{item.url}}">{{item.text}}</a></li>
                {% endif %}
                {% endfor %}

              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->