<div class="thumbnail">
    <div class="caption">

        <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Morbi augue metus, iaculis eu turpis sed, faucibus finibus tellus.
                        <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    <div class="user">
                        <img src="/img/twitter-user-1.jpg" alt="Pepole">
                        <p><span>Bob Henson,</span> Spain</p>
                    </div>
                </div>
                <div>
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Donec sit amet lacinia urna. Suspendisse vitae augue blandit, commodo diam sit amet, lobortis
                        felis
                        <i class="fa fa-quote-right" aria-hidden="true"></i> </p>
                    <div class="user">
                        <img src="/img/twitter-user-2.jpg" alt="Pepole">
                        <p><span>Clay Risro,</span> USA</p>
                    </div>
                </div>
                <div>
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>
                        Quisque sit amet dapibus lorem. Maecenas finibus eros sit amet velit aliquet, ac molestie
                        tortor
                        vestibulum.
                        <i class="fa fa-quote-right" aria-hidden="true"></i> </p>
                    <div class="user">
                        <img src="/img/twitter-user-3.jpg" alt="Pepole">
                        <p><span>Rose Ray,</span> United Kingdom</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>