<div class="thumbnail">
    <div class="caption">

        <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">

                {% for testimonial in site.data.testimonials.testimonials %}
                <div>
                    <p><i class="fa fa-quote-left" aria-hidden="true"></i>
                        {{ testimonial.description }}
                        <i class="fa fa-quote-right" aria-hidden="true"></i></p>
                    <div class="user">
                        <!-- <img src="{{ testimonial.img }}" alt="Pepole"> -->
                        <p>
                            <strong>{{ testimonial.name }}</strong>
                            {{ testimonial.location }}
                        </p>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>