---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h3><a href="/blog/">Blog</a></h3>
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date |
                  date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
<p class="center-text" style="padding: 30px;">
  <a href="/blog/">Back to Blog</a>
</p>

<nav class="center-text" aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
    <li>
      <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li>
      <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>